.top-bar{
    width: 30%;
    height: 50px;
    
}

.button-grp{
    width: 90%;
}

#title{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
}

.input-grp{
    width:100%;
    justify-content: center;
}