.top-3{
    width:100%;
    display: flex;
    justify-content: center;
}

.bottom-4-5{
    width:100%;
    display: flex;
    justify-content: center;
}

.frst-plce{
    display: inline-block;
}
.scnd-plce{
    display: inline-block;
}
.thrd-plce{
    display: inline-block;
}

.frth-plce{
    display: inline-block;
}
.ffth-plce{
    display: inline-block;
}

.remaining-games{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 1%;
}

.remaining-games > div{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 20px;
    text-align: center; 
    justify-content: center;
}

.main-header{
    text-align: center;
}